ul {
  margin: 0;
  list-style: none;
}

.shop {
  width: 696px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  gap: 17px 28px;
  grid-template-areas:
    "title title"
    "search users"
    "products users";
}

.title {
  grid-area: title;
  margin: 0;
}

.search {
  grid-area: search;
}

.search__input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0 10px;
  height: 26px;
  border: 1px solid #000;
  border-radius: 2px;
  overflow: hidden;
}

.search__input:focus-visible {
  outline: none;
}

.products {
  grid-area: products;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product {
  border: 1px solid #000;
  border-radius: 2px;
  padding: 8px;
  max-width: 27%;
  width: -webkit-fill-available;
}

.product__img {
    width: 120px;
    aspect-ratio: 3/4;
    background-color: #E2CCCC;
}

.users {
  grid-area: users;
  background-color: #d3caca;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.users__title {
  color: #645d5d;
  font-weight: 400;
  margin: 0;
}

.user {
  margin: 0;
  padding: 4px;
  color: #7a7a7a;
  background-color: #d9d9d9;
}

.user__info {
  margin: 0;
}
